<div>
<h1>All Teams</h1>
</div>
<div class="table-responsive">
  <% @teams.each do |team| %>
  <div class='col-md-3 team-pad'>
    <%= link_to (image_tag team.image.url, class: "#{team.team_type}_team_image img-rounded"), team , title: team.name %>
    <%= team.name %>
  </div>
  <% end %>
</div>
<% if user_admin %>
  <div>
    <%= link_to 'New', new_team_path %>
  </div>
<% end %>
