<h4>These are the rules</h4>
<ul>
  <li>You can do your bet until <mark>1 hour before</mark> the game</li><br/>
  <li>Correct winner: <br/> <strong>+ 10points</strong></li><br/>
  <li>Correct winner and correct loser goals <br/> <strong>+ 12points</strong></li><br/>
  <li>Correct winner and winner goals <br/> <strong>+ 15points</strong></li><br/>
  <li>Correct draw with wrong number of goals: <br/> <strong>+ 18points</strong></li><br/>
  <li>Correct winner and difference of goals: <br/> <strong>+ 18points</strong></li><br/>
  <li>Correct score of entire game<br/> <strong>+ 25points</strong></li><br/>
</ul>
