<h4>These are the rules</h4>
<ul>
  <li>You can do your bet until <mark>1 hour before</mark> the game</li><br/>
  <li>Correct score of one the teams: <br/> <strong>+ 3points</strong></li><br/>
  <li>Correct winner or a draw with wrong number of goals: <br/> <strong>+ 12points</strong></li><br/>
  <li>Correct score of entire game<br/> <strong>+ 20points</strong></li><br/>
</ul>
