
<div class="jumbotron">
<h2>All Tournaments</h1>
<p>Those are all tournaments availables in the system.</p>
</div>
<div class="table-responsive">
  <% @tournaments.each do |tournament| %>
  <div>
    <div>
      <figure>
        <%= link_to (image_tag tournament.image.url(:thumb), class: 'image'), tournament %>
        <p><figcaption><%= tournament.name %></figcaption></p>
      </figure>
      <p><%= tournament.description %></p>
    </div>
  </div>
  <% end %>
</div>
<% if !current_user.blank? && current_user.admin %>
  <div>
    <%= link_to 'New', new_tournament_path %>
  </div>
<% end %>
