<h2><%= @tournament.name %></h2>
<div class="table-responsive rank-container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Position</th>
        <th><strong>Name</strong></th>
        <th><strong>Score</strong></th>
      </tr>
    </thead>
    <tbody>
      <% @all_rank.each_with_index do |rank, index| %>
        <tr>
          <td class="col-sm-1"><%= index + 1 %></td>
          <td class="col-sm-5"><%= link_to rank[:name], scored_bets_path(user_id: rank[:user_id], tournament_id: @tournament.id) %></td>
          <td class="col-sm-1"><%= rank[:score] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
