#bet-table{margin-top: 50px;}
.user-bets{float: right; position: sticky; top: 60px;}
.bet-dropdown{display: flex; padding-left: 20px; float: left;}
#bet_title{float: left; max-width: 650px; margin-top: 0;}
#bet_border_title{padding-bottom: 100px;}
